In [25]:
import pyspark

In [26]:
import pandas as pd
pd.read_csv("test.csv")

         Name  Age
0    Siddhant   24
1      Hitesh   23
2  Prathamesh   27

In [38]:
type(pd.read_csv("test.csv"))

pandas.core.frame.DataFrame

In [27]:
from pyspark.sql import SparkSession

In [28]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [29]:
spark

In [40]:
df_pyspark=spark.read.csv("test.csv")

In [41]:
df_pyspark.show()

+----------+---+
|       _c0|_c1|
+----------+---+
|      Name|Age|
|  Siddhant| 24|
|    Hitesh| 23|
|Prathamesh| 27|
+----------+---+

In [52]:
df_pyspark=spark.read.option('header', 'true').csv("test.csv")

In [55]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [58]:
df_pyspark.head(3)

[Row(Name='Siddhant', Age='24'),
 Row(Name='Hitesh', Age='23'),
 Row(Name='Prathamesh', Age='27')]

In [59]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)